.websites-list {
  display: block;
  float: left;

  width: calc(100% - 300px);
  padding: 30px;
  padding-top: 0;

  transition-duration: 0.2s;

  h2 {
    color: #ffffff;
    border-bottom: 1px solid;
  }

  &__list {
    display: flex;
    overflow: overlay;

    height: 83vh;
  }
}

.websites-list--extended {
  width: calc(100% - 90px);

  transition-duration: 0.2s;
}