.twitch-live-channels {
  float: left;

  width: 300px;
  padding-top: 0;

  color: #ffffff;
}

.twitch-live-channels h2 {
  border-bottom: 1px solid;
}

.twitch-live-channels__channel {
  position: relative;
  z-index: 3;

  display: inline-flex;
  overflow: hidden;
  flex-direction: column;

  width: 120px;
  height: 160px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 10px;
  padding-bottom: 5px;

  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;

  color: #ffffff;
  border-radius: 5px;
  border-radius: 8px;
  background-color: rgb(17, 17, 17);
  box-shadow: rgb(0 0 0 / 30%) 1px 1px 6px 2px;

  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.twitch-live-channels__refresh {
  float: right;

  margin-right: 20px;

  cursor: pointer;
}

.twitch-live-channels__channel > div {
  display: block;
}

.twitch-live-channels__channel__image {
  display: flex;
  overflow: hidden;

  width: 80px;
  height: 80px;

  border-radius: 50%;
}

.twitch-live-channels__channel__image > img {
  position: relative;

  display: block;

  width: 80px;
  height: 80px;

  transition-duration: 0.2s;
}

.twitch-live-channels__channel:hover .twitch-live-channels__channel__image > img {
  width: 90px;
  height: 90px;

  transform: translate(-5px,-5px);
}

.twitch-live-channels__channel__name {
  font-size: 1.2em;
  line-height: 30px;

  overflow: hidden;

  width: 100px;
  height: 40px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.twitch-live-channels__channel__game {
  font-size: 0.9em;

  overflow: hidden;

  width: 100px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.twitch-live-channels__channel__viewers {
  font-size: 0.8em;

  color: #666666;
}

.twitch-live-channels__channel__viewers > div {
  float: left;

  width: 6px;
  height: 6px;
  margin-top: 7px;
  margin-right: 3px;

  border-radius: 50%;
  background-color: rgb(212 39 39);
}