
.current-date {
  font-size: 60px;

  height: 100px;
  margin-bottom: -60px;
  padding-right: 50px;

  text-align: right;

  color: white;

  &__date {
    font-size: 20px;

    padding-right: 20px;
  }
}