.website-category-list {
  display: block;

  width: 100%;
  padding: 30px;
  padding-top: 0;

  color: #ffffff;

  &__category {
    &--first {
      .website-category-list__category__title__icon--up {
        display: none;
      }
    }

    &--last {
      .website-category-list__category__title__icon--down {
        display: none;
      }
    }

    &__content {
      display: flex;
      clear: both;

      padding-top: 20px;
      padding-bottom: 40px;
    }

    &__title {
      position: relative;

      display: flex;

      width: 100%;
      margin: 0 auto;

      text-align: center;

      &__line {
        float: left;

        height: 13px;

        transition-duration: 0.2s;

        border-bottom: 1px solid #ffffff;

        &:last-child {
          width: inherit;
        }
      }

      &__text {
        font-size: 1.1em;

        float: left;

        margin-right: 10px;
        margin-left: 10px;

        cursor: pointer;
        transition-duration: 0.2s;
        text-align: left;
      }

      &__icon {
        font-size: 28px;

        position: absolute;
        top: 0;
        left: 2px;

        cursor: pointer;
        transition-duration: 0.1s;
        pointer-events: none;

        opacity: 0;

        &:hover {
          font-size: 30px;

          left: 1px;
        }

        &--up {
          top: -12px;

          &:hover {
            top: -14px;
          }
        }

        &--down {
          top: 10px;
        }
      }

      &:hover .website-category-list__category__title__icon {
        pointer-events: visible;

        opacity: 1;
      }
    }

    &__title__line:first-child,
    &--add &__title__line:first-child,
    &--add &__title__line:last-child {
      min-width: 30px;
      max-width: 30px;
    }

    &--add &__title__text {
      font-size: 1.2em;
    }
  }
}